* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
  font-family: 'Inter', sans-serif;
  background: #001e4d;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  margin: 0;
}

.app {
  background: #fff;
  width: 600px ;
  border-radius: 10px ;
  padding: 30px;
  box-shadow:  5px 12px #0000001a; 
  text-align: center; 
  position: relative; 
}

.app::after, .app::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(rgb(251, 4, 4), lightgreen,blue,rgb(253, 10, 132));
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 5px;
  border-radius: 10px ;
}
.app::before{
  filter:blur(1.5rem);
  opacity: 0.5;
}

.app h1 {
  font-size: 25px;
  font-weight: 600;
  color: #001e4d;
  border-bottom: 1px solid #bdb9b9; 
  padding-bottom: 20px; 
  margin-bottom: 20px; 
}

.quiz-container, .start-screen {
   padding: 20px 0;
}

.start-screen h2 {
 font-size: 22px;
 font-weight: 600;
 color: #333;
 margin-bottom: 15px;
}

.start-screen p {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}

.quiz-container h2 {
  font-size: 18px;
  font-weight: 600;
  color: #001e4d;
   margin-bottom: 20px; 
}

.answer-buttons {
  display: grid; 
  gap: 10px;
  margin-top: 20px;
}

.btn {
  background: #f0f0f0; 
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #ccc; 
  padding: 12px; 
  margin: 0; 
  text-align: left;
  border-radius: 8px; 
  cursor: pointer;
  transition: all 0.3s ease; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
}

.btn:hover:not([disabled]) {
  background: #001e4d; 
  color: #fff;
  border-color: #001e4d;
}

.btn:disabled {
  cursor: not-allowed; 
  opacity: 0.7; 
}

#next-btn, #start-quiz-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 180px; 
  border: 0;
  padding: 12px 20px; 
  margin: 30px auto 0; 
  border-radius: 8px;
  cursor: pointer;
  display: block; 
  transition: all 0.3s ;
}

#next-btn:hover, #start-quiz-btn:hover {
  background: #003366; 
}

.correct {
  background: #a8e6cf; 
  border-color: #6bc99e;
  color: #1a5e3d; 
}

.incorrect {
  background: #ffadad; 
  border-color: #e07b7b;
  color: #8b0000; 
}

.hidden {
  display: none;
}

#timer {
  font-size: 24px;
  font-weight: 700;
  color: #001e4d;
  position: absolute;
  top: 15px; 
  right: 30px; 
  background-color: #f0f0f0;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}